NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres.sqdbsathgtqzjanitjbm:kelompok8sukses@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
JWT_SECRET=12673988-57a7-482a-a302-e74c01695ef60dfd7fb8-4a9c-4c0e-bb56-4e5b56366885
JWT_EXPIRES_IN=1d
SUPABASE_URL=https://sqdbsathgtqzjanitjbm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxZGJzYXRoZ3Rxemphbml0amJtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTYyOTQxNywiZXhwIjoyMDkxMjA1NDE3fQ.d8ibOzyOMO5Tt9yzJ09g_LqUf4stTdGlyzekGzRfc5k
SUPABASE_BUCKET=cv-files
APP_BASE_URL=http://localhost:3000
